@{
    var culture = System.Globalization.CultureInfo.CurrentUICulture;

    var lang = culture.Name;
}
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3 d-flex justify-content-end">
        <ul class="navbar-nav d-flex align-items-center gap-2">
            <!-- Logout -->
            <li class="nav-item">
                <a type="button" class="btn bg-gradient-secondary btn-tooltip"
                   asp-action="Logout" asp-controller="Auth"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Tooltip on bottom">
                    <i class="fa-solid fa-user me-sm-1"></i>
                    @(("تسجيل الخروج", "Logout").Localize(lang))
                </a>
            </li>

            <!-- Language Dropdown -->
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn bg-gradient-primary dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        @(("اللغه", "Language").Localize(lang))
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/Home/SetLanguage?culture=en">English</a></li>
                        <li><a class="dropdown-item" href="/Home/SetLanguage?culture=ar">العربية</a></li>
                    </ul>
                </div>
            </li>

            <!-- Sidenav Toggle -->
            <li class="nav-item d-xl-none ps-3">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </a>
            </li>

          
        </ul>
    </div>
</nav>
