html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.input-group-static label {
    top: 1.25rem; /* default position */
    transition: all 0.2s ease;
    pointer-events: none;
    position: absolute;
    left: 0.75rem;
    font-size: 1rem;
    color: #888;
}

.input-group-static input:focus + label,
.input-group-static input.not-empty + label {
    top: -0.5rem;
    font-size: 0.8rem;
    color: #000;
}
