@model ProductCreation
@{
    var language = ViewData["Language"] as string ?? "en";
    ViewData["Title"] = ("إضافة منتج جديد", "Create New Product").Localize(language);
}


<div class="m-auto  bg-white p-5">
    <h1>@(("إضافة منتج جديد", "Create New Product").Localize(language))</h1>
   
    <hr />
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <partial name="PartialView/_CreateEditView" />

      
        <div class="form-group mt-4">
            <input type="submit" value="@(("إضافة","Add").Localize(language))" class="btn btn-primary" />
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Index" class="btn btn-light ms-2">
                    @(language == "en" ? "Back to List" : "العودة إلى القائمة")
                </a>
            }
            else
            {
                <a asp-action="GetTraderCategory" class="btn btn-light ms-2">
                    @(language == "en" ? "Back to My Products" : "العودة إلى منتجاتي")
                </a>
            }
        </div>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/ProductJS.js"></script>
}



